.Footer {
    font-size: 10px;
    margin-top: 10%;
    padding-left: 10%;
    padding-top: 1%;
    padding-right: 10%;
    text-align: right;
    line-height: 1vw;
}

a {
    color: black;
}

@media (min-width: 100px) and (max-width: 1103px) { 
    .Footer {
        display: none;
    }
}