.Header {
    position: fixed;
    top: 0;
    bottom: 0;
    font-size: 14px;
    min-height: 100vh;
    text-transform: uppercase;
    min-width: 20%;
    max-width: 20%;
}

@media (min-width: 100px) and (max-width: 1103px) { 
    .Header {
        position: relative;
        min-height: auto;
        max-width: 100%;
        min-width: 100%;
        padding-bottom: 0%;
        border-right: none;
        margin-bottom: 0%;
        border-bottom: 1px solid black;
    }
}