.Inner-Wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    margin-bottom: 100%;
    margin-top: 25%;
    min-height: 70%;
    max-height: 70%;
    border-right: 1px solid black;
}

Small {
    font-size: 12px;
}

@media (min-width: 100px) and (max-width: 1103px) { 
    .Inner-Wrapper {
        position: relative;
        border-right: none;
        margin-bottom: 2%;
        margin-top: 2%;
    }
}


@media (min-width: 100px) and (max-width: 500px) { 
    .Inner-Wrapper {
        margin-top: 20%;
        display: flex;
        margin-bottom: 30%;
    }
}