.LetHigh {
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.LetHigh2 {
    color: black;
    font-weight: 600;
    padding: 3px;
}

.Span-One {
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.Wrapper-Mini {
    
    font-size: 12px;
    padding: 10px;
    color: black;
    border: 1px solid black;
    max-width: 70%;
}

@media (min-width: 100px) and (max-width: 1053px) { 
    .Wrapper-Mini {
        justify-content: flex-start;
    }
}