.LetHigh {
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.LetHigh2 {
    color: black;
    background: white;
    font-weight: 900;
    padding: 3px;
}

.Span-One {
    font-size: 16px;
    border-bottom: 5px solid #f7ca18;
}

.Wrapper-Mini {
    
    font-size: 14px;
    padding: 10px;
    color: white;
    background: #191919;
    max-width: 70%;
}

@media (min-width: 100px) and (max-width: 1053px) { 
    .Wrapper-Mini {
        justify-content: center;
        margin: 0 auto;
    }
}