.Main {
    display: flex;
    margin-top: 1%;
    margin-left: 25%;
    min-width: 70%;
    max-width: 70%;
    flex-direction: column;
}

@media (min-width: 100px) and (max-width: 1103px) { 
    .Main {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10%;
        min-width: 100%;
        max-width: 100%;
    }
    .Main > div {
        flex-direction: column;
    }
}