@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');



.Title {
    text-align: left;
    max-width: 100%;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Arial,Helvetica,sans-serif;
    color: black;

}

.post-title {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 500;
}

.Post {
    font-weight: 100;
    max-width: 45%;
    border: 1px solid black;
    padding-bottom: 4%;
    padding-top: 0;
    padding-left: 3%;
    min-width: 45%;
    margin-bottom: 3%;
}


.Posts-Wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1%;
}

.Post:hover {
    background: none;
}

@media (min-width: 100px) and (max-width: 1103px) { 
    .Post {
        min-width: 100%;
        max-width: 100%;
    }
}